body {
    font-size: 16px;
    color: rgb(11, 9, 30);
    background-color: #e4e4e4;
    font-family: Arial, Helvetica, sans-serif
  }
  
  /** HEADER **/
  #header-nav {
    background-color: rgb(11, 9, 30);
    border-radius: 0;
    border: 0;
    
  }
  .navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
 }
  
  .navbar-brand h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color:  rgb(252, 252, 252);;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ffffff;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* END HEADER */

  /* PAGE CONTENT*/

  #chicken-content {
    background-color: rgb(11, 9, 30);
    color: #ffffff;
text-align: justify;
padding:15px;
}
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
    #nav-list a {
        display: none;
    }
    .navbar-brand {
        height: 40px;
        margin-bottom: 20px;
      }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    #nav-list a {
        display: none;
    }
    .navbar-brand {
        height: 40px;
        margin-bottom: 20px;
      }
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    #nav-list a {
        display: none;
    }
    #chicken-content {
        margin-left: 20px;
        margin-right: 20px;
    
      }
      .navbar-brand {
        height: 40px;
        margin-bottom: 20px;
      }
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
   
    .navbar-brand {
      padding-top: 10px;
      height: 40px;
    }
    .navbar-brand h1 { 
      padding-top: 10px;
      font-size: 4vw; 
    }

    #collapsable-nav a { 
      font-size: 1.2em;
    }

    #chicken-content {
        margin-left: 20px;
        margin-right: 20px;
    }
  
  }
    

  
