* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1em;
   
}

h1 {
text-align: center;
font-size: 1.75em;
margin-top: 50px;
margin-bottom: 50px;
}


section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

   
}

#chicken, #beef, #sushi {
    grid-column: 4;
    text-align: center;
    border: 2px solid black;
    font-size: 1.25em;
    font-weight: 600;
    
}

#chicken {
    background-color: rosybrown;
}

#beef {
    background-color: red;
color: white
}

#sushi {
    background-color: yellow;
}
.column {
 
    background-color: rgb(148, 155, 153);

    border: 3px solid black ;

}


@media (max-width: 766px) { 
    .row {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        
        }
    
}


@media (min-width: 767px) and (max-width: 992px) {
    .row {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 19px;
        }

}

@media (min-width: 992px) {
.row {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 19px;
    }
}






   
    
    

  
